<form action="/episode/search" method="GET">
    <label>
        <input type="search" name="episode" placeholder="Episode S0E0">
    </label>
    <button type="submit">Search</button>
</form>

<h3>Episodes</h3>
{% for episode in episodes.list %}

    <a href="/episode/{{ episode.id }}">
        Episode {{ episode.id }}. {{ episode.name }}

    </a>
    <div>Airdate: {{ episode.airdate }}</div>
    <br/>

{% endfor %}